################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharpQuake/v15/Server/sqlite3
/.vs/SharpQuake/v15/sqlite3
/bin/Debug
/obj
/.vs/*
/.vs/SharpQuake/v15/
